<%- include("header") -%>

<h2> This is about page</h2>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti sit. Perferendis, dolorum vero odio doloremque maiores veniam reiciendis iusto!
<%- include("footer") -%>
